imports:
    - { resource: parameters.yml }
    - { resource: security.yml }

fos_user:
    db_driver: orm
    firewall_name: main
    user_class: Jazzyweb\UserBundle\Entity\User
    group:
       group_class: Jazzyweb\UserBundle\Entity\Group

sonata_block:
    default_contexts: [cms]
    blocks:
        # Enable the SonataAdminBundle block
        sonata.admin.block.admin_list:
            contexts:   [admin]
        sonata.admin.block.search_result:
            contexts:   [admin]
        # Your other blocks

sonata_user:
    #security_acl: true
    manager_type: orm
    class:
        user:   Jazzyweb\UserBundle\Entity\User
        group:  Jazzyweb\UserBundle\Entity\Group

sonata_admin:
  title:   JazzyAdmin0
#  title_logo: images/space_invaders.jpg
  security:
        handler: sonata.admin.security.handler.role
#        handler: sonata.admin.security.handler.acl
  dashboard:
    groups:
      Usuarios de la Aplicacion:
        items:
#           - sonata.user.admin.user
           - jwuser.admin.user
           - sonata.user.admin.group
      Incidencias:
        items:
           - sonata.admin.incidencia
  templates:
        dashboard:    SonataAdminBundle:Core:dashboard.html.twig

framework:
    #esi:             ~
    translator:      { fallback: %locale% }
    secret:          %secret%
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            ~
    csrf_protection: ~
    validation:      { enable_annotations: true }
    templating:
        engines: ['twig']
        #assets_version: SomeVersionScheme
    default_locale:  "%locale%"
    trusted_proxies: ~
    session:         ~
    fragments:       ~
    http_method_override: true

# Twig Configuration
twig:
    debug:            %kernel.debug%
    strict_variables: %kernel.debug%

# Assetic Configuration
assetic:
    debug:          %kernel.debug%
    use_controller: false
    bundles:        [ ]
    #java: /usr/bin/java
    filters:
        cssrewrite: ~
        #closure:
        #    jar: %kernel.root_dir%/Resources/java/compiler.jar
        #yui_css:
        #    jar: %kernel.root_dir%/Resources/java/yuicompressor-2.4.7.jar

# Doctrine Configuration
doctrine:
    dbal:
        driver:   %database_driver%
        host:     %database_host%
        port:     %database_port%
        dbname:   %database_name%
        user:     %database_user%
        password: %database_password%
        charset:  UTF8
        types:
           json: Sonata\Doctrine\Types\JsonType
        # if using pdo_sqlite as your database driver, add the path in parameters.yml
        # e.g. database_path: %kernel.root_dir%/data/data.db3
        # path:     %database_path%

    orm:
        auto_generate_proxy_classes: %kernel.debug%
        auto_mapping: true


# Swiftmailer Configuration
swiftmailer:
    transport: %mailer_transport%
    host:      %mailer_host%
    username:  %mailer_user%
    password:  %mailer_password%
    spool:     { type: memory }
